@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --color-a: #01bba8;
    --color-b: #3ac924;
    --color-c: #e50e4b;
    --color-d: #f8d31e;
    --color-preto: #1f1f19;
    --background-color: #c8b9cc;
    font-size: 60%;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0 none;
    background-color: var(--background-color);
}

@keyframes piscadela {
    50% {
        background-color: white;
    }
}

.barra-info {
    height: 12em;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 50%;
    top: 8em;
    transform: translate(50%, -50%);
    background-color: var(--color-preto);
    border-radius: 23px;
}

.bt-iniciar {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

div.pontuacao {
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: end;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
}

div.pnt-num {
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
}

div.record {
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
}

div.rcd-num {
    width: 15%;
    height: 50%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
}

main {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 50%;
    top: 60%;
    transform: translate(50%, -50%);
    border: 10px solid var(--color-preto);
    border-radius: 23px;
    background-color: var(--color-preto);
}

main>div {
    width: 46%;
    flex: none;
    border-radius: 20px;
    margin: 5px;
}

.meio {
    height: 32vmin;
    width: 32vmin;
    display: flex;
    position: absolute;
    right: 48%;
    top: 48%;
    transform: translate(50%, -50%);
    border-radius: 20px;
    background-color: var(--color-preto);
    align-items: center;
    justify-content: center;
}

main>div:nth-child(1) {
    background-color: var(--color-a);
}

main>div:nth-child(2) {
    background-color: var(--color-b);
}

main>div:nth-child(3) {
    background-color: var(--color-c);
}

main>div:nth-child(4) {
    background-color: var(--color-d);
}

main>div.animate {
    /* background-color: white; */
    /* usado no exemplo transition */
    animation: piscadela .3s ease-in-out;
    /* animation-name: piscadela;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
}

div.meio>div.centro {
    height: 28vmin;
    width: 28vmin;
    display: flex;
    flex: none;
    position: absolute;
    z-index: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17vh;
    color: #FFFFFF;
}

.centro.comecou {
    font-size: 3em !important;
}

.centro.gameOver {
    font-size: 5em !important;
}

